<section class="experience">
  <label>{{localize "MAVEN_SHEET.experience"}}</label>
  <div class="experience-control">
    {{#times system.experience.value}}
      <i class="fa-solid fa-square-check"></i>
    {{/times}}
    {{#times system.missingExperience}}
      <i class="fa-regular fa-square"></i>
    {{/times}}
  </div>
</section>